*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Oxygen', sans-serif;
	/*border:1px solid black;*/
}

#bg-fixed{
	display: none;	
	}

#extra1, #extra2, #extra3, #extra4, #extra5{
	display: none;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Arvo', serif;
}

a{
	text-decoration: none;
}

header > div > nav a{
	color: rgba(1,22,39,1);
}

header, section{
	height: 100vh;
}

header > div, section > div{
	height: 100%;
}

#btn-home{
	display: none;
}

/*Color Scheme*/
.red{
	background-color: rgba(231,29,54,1);
}

.blue-green{
	background-color: rgba(46,196,182, 1);
}

.yellow{
	background-color: rgba(255,159,28, 1);
}

.white{
	background-color: rgba(253,255,252,1);
}

.blue{
	background-color: rgba(1,22,39,1);
}
/*End of Color Scheme*/

/*Top & Bot CSS for all Sections*/
.top-section{
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.bot-section{
	height: 95%;
}
/*End of Top & Bot CSS*/

/*Header|Homepage*/
header > div > nav{
	color: white;
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header > div > nav > ul{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

header > div > nav > ul > li{
	font-size: 1rem;
	list-style-type: none;
	margin: 0 auto;
}

header > div{
	background:url(../images/bg-home.gif);
	background-size: cover;
	background-position: center;
}

header > div > div{
	height: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-video{
	position: absolute;
	z-index: -1;
	height: 100vh;
}
/*End of Header|Homepage*/

/*About Section*/
.about-content{
	height: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.about-content > div{
	width: 80%;
}

.about-content-left{
	display: none;
}
/*End of About Section*/

/*Gallery Section*/
/*Gallery Left-div*/
.gallery-content{
	height: 95%;
	width: 100%;
	display: flex;
}

.gallery-left{
	width: 20%;
	display: flex;
	justify-content:center;
}

.gallery-nav{
	text-align: center;
	width: 80%;
}

.gallery-nav >ul{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-top: 2vh;
}

.gallery-nav > ul > li{
	height: 8vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#select-tVolcano{
	font-weight: bold;
}
/*End of Gallery Left-div*/

/*Gallery Right-div*/
.gallery-right > div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.gallery-right img{
	width: 100%;
	border: 3vw solid whitesmoke;
	margin-bottom: 1vw;
 	object-fit: contain;
 	position: right;
}
.gallery-right{
	width: 80%;
	overflow-x: hidden;
	height: 100%;
}
/*End of Gallery Right-div*/

/*Rate Section*/
.rate-content{
	display: flex;
}

.rate-left{
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.rate-left > nav > ul > li{
	list-style-type: none;
	height: 8vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rate-left > nav > ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:2vh;
}

.rate-left > nav{
	text-align: center;
	width: 80%;
}

#rate1{
	font-weight: bold;
}

#rate1, #rate2, #rate3{
	position: relative;
	z-index: 1;
}

.rate-right{
	margin-top: 3%;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rate-right > div{
	text-align: center;
	width: 100%;
	padding: 2vh;
}

.rate-right > div > ul > li{
	list-style-type: none;
}
/*End of Rate Section*/


/*Contact Section*/
.contact-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact-content > form{
	height: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-content > form > input{
	height: 10%;
	width: 80%;
	margin-bottom: 1%;
}

.contact-content > form > textarea{
	height: 20%;
	width: 80%;
}

.contact-content > form > button{
	margin-top: 3%;
	border-style: none;
	padding: 5px;
	border-radius: 5px;
}

/*Footer*/
footer{
	background-color: rgba(0,0,0,.9);
	height: 20%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer > div > ul > div > li{
	font-size: .8rem;
	list-style: none;
}

footer > div {
	height: 100%;
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: silver;
	flex-direction: column;
}

footer > div + div{
	height: 70%;
	align-items: flex-start;

}

footer > div + div > h6{
	margin-left: 10vw;
	display: flex;
	align-items: center;
}

footer > div + div span{
	margin-left: 1vw;
}

footer > div i{
	font-size: 1.8rem;
}

footer > div h6{
	font-size: .8rem;
}
/*End of Footer*/
/*End of Contact Section*/

/*Media Query for Mobile Landscape*/
@media only screen and (max-height: 499px){
	#home nav > ul > li{
		font-size: 1.5rem;
	}

	.top-section h1{
		font-size: 1.5rem;
	}
	#about .about-content-right > p{
		font-size: 1.2rem;
	}

	.rate-left > nav > ul > li > div,.gallery-nav > ul > li > div{
		font-size: 1rem;
	}

	footer > div > ul{
		display: inline-flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}

	footer > div > ul > div > li{
		font-size: .7rem;
	}

	#contact footer > div > h6 > i{
		font-size: .9rem;
	}

	#contact footer > div > h6{
		font-size: .7rem;
	}
}

/*Media for iPad*/
@media only screen and (min-width:500px) and (max-width:999px){
	
	/*Header*/
	header > div > nav{
		height: 8%;
	}

	header > div > nav > ul > li{
		font-size: 2rem;
	}

	header > div > div > div > h1{
		font-size: 5rem;
	}
	/*End of Header*/

	/*Top & Bot CSS for all Sections*/
 	.top-section{
 		font-size: 2rem;
 		height: 8%;
 	}

 	.bot-section{
 		height: 92%;
 	}
 	/*End of Top & Bot CSS*/

 	/*About Section*/
 	.about-content > div > p{
 		font-size: 2rem;
 	}
 	/*End of About Section*/

 	/*Gallery Section*/
 	.gallery-nav > ul > li > div{
 		font-size: 1.8rem;
 	}
 	.gallery-nav > ul > li{
 		height: 9vh;
 	}
 	/*End of Gallery Section*/

 	/*Rate Section*/
 	.rate-left > nav > ul > li > div{
 		font-size: 1.8rem;
 	}

 	.rate-right > div > p{
 		font-size: 2rem;
 	}
 	/*End of Rate Section*/

 	/*Contact Section*/
 	.contact-content > form > button{
 		padding: 2% 5%;
 	}
 	/*Footer Section*/
  	footer > div > ul > div > li, footer > div + div > h6{
 		font-size: 1rem;
 	}

 	footer > div + div > h6 > i{
 		font-size: 1.5rem;
 	}

 	/*End of Footer Section*/
 	/*End of Contact Section*/
}


/*Media for Desktop*/
@media only screen and (min-width: 1000px){
	/*CSS for Header*/
	header > div, section > div{
		height: 90vh;
		width: 80%;
		justify-content: center;
		box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
	}

	header,section{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	header > div > nav{
		height: 7%;
	}

	header > div > nav > ul > li{
		font-size: 1.8rem;
		margin: 0 20px;
	}

	header > div > div > div > h1{
		font-size: 5rem;
	}
	/*End of Header*/

	/*CSS for Top & Bot Section*/
	.top-section{
		height: 7%;
		font-size: 1.5rem;
	}

	.bot-section{
		height: 93%;
	}
	/*End of CSS for Top Section*/

	/*CSS for About*/
	.about-content > div{
		width: 80%;
	}

	.about-content-left > img{
		position: relative;
		height: 200px;
		border-radius: 1px;
		border: 5px solid whitesmoke;
	}

	.about-img1{
		bottom: 30px;
		left: 80px;
		transform: rotate(-10deg);
		z-index: 1;
	}
	.about-img2{
		bottom: 30px;
		left:-60px;
		transform: rotate(1deg);
	}

	.about-content-right > p{
		width: 65%;
		margin-left: -5vw;
	}

	.about-content > div{
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/*End of About*/

	/*CSS for Gallery*/
	.gallery-right > div{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.gallery-right > div > img{
		width: 50%;
	}

	.gallery-right > div{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.gallery-right img{
		height: 40%;
		border: 1vh solid whitesmoke;
		margin-bottom: 0;
		
	}
	/*End of Gallery*/

	/*CSS for Rate*/
	.rate-right{
		margin-left: -10%;
	}
	/*End of Rate*/

	/*CSS for Contact*/
	.contact-content > form > input, .contact-content > form > textarea{
		width: 40%;
	}

	.contact-content > form > textarea{
		height: 30%;
	}
	/*Start of Footer*/
	footer > div > ul{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	footer > div + div{
		flex-direction: row;
		align-items:center;
	}

	footer > div + div > h6{
		margin: 0;
	}

	footer > div > ul > div > li, footer > div + div > h6{
 		font-size: .8rem;
 	}

 	footer > div + div > h6 > i{
 		font-size: 1.8rem;
 	}

	/*End of Footer*/
	/*End of Contact*/

	/*OTHERS*/
	/*Background Image|Philippines*/
	#bg-fixed{
		display: flex;
		width: 100%;
		position: absolute;	
		object-fit: cover;	
		object-position: center;
		z-index: -1;
	}

	/*Return-Home Button*/
	#btn-home{
		display: inline;
		position: fixed;
		bottom: 30px;
		right: 50px;
		height: 50px;
		width: 50px;
		background: url(../images/btn-up.png);
		background-size: cover;
		background-position: center;
		border-style: none;
	}


	/*Psuedo Class*/
	#btn-home:focus{
		outline: none;
	}

	#btn-home:hover{
		cursor: pointer;
	}

	.cursor:hover{
		cursor: pointer;
	}

	.hover-bold:hover{
		font-weight: bold;
		padding-bottom: 1px;
	}

	.hover-underline:hover{
		border-bottom: 1px solid black;
		padding-bottom: 1px;
	}

	.hover-btn:hover{
		color:white;
		background-color: rgba(231,29,54,1);
	}

	#btn-home:hover{
		bottom: 32px;
	}

	/*JScript Funtions*/
	#extra1, #extra2, #extra3, #extra4, #extra5{
	display: inline;
	}

	#extra1{
		position: absolute;
		height: 150px;
		right: 100px;
		top:100px;
		transform: rotate(5deg);
		border: 5px solid whitesmoke;
	}

	#extra2{
		position: absolute;
		height: 150px;
		right: 100px;
		top: 240px;
		transform: rotate(-5deg);
		border: 5px solid whitesmoke;
	}

	#extra3{
		position: absolute;
		top:120px;
		left:80px;
		height: 120px;
		transform: rotate(-5deg);
		border: 5px solid whitesmoke;
	}

	#extra4{
		position: absolute;
		top:280px;
		left:90px;
		height: 120px;
		transform: rotate(5deg);
		border: 5px solid whitesmoke;
	}

	#extra5{
		position: absolute;
		top:170px;
		right:60px;
		height: 150px;
		transform: rotate(5deg);
		border: 5px solid whitesmoke;
	}

	/*LOGO Animation & Hover*/
	#yolo{
		position: absolute;
		top:4%;
		left:3%;
		height: 50px;

		animation-name: yolo-animation;
		animation-duration: 3.5s;
		animation-iteration-count: 1;

		transition: 1;
	}

	@keyframes yolo-animation{
		0%{
			height: 15vh;
			top: 40%;
			left: 37%;
		}

		70%{
			height: 15vh;
			top: 40%;
			left: 37%;
		}

		100%{
			top:4%;
			left:3%;
			height: 50px;
		}
	}

	#yolo:hover{
		height: 55px;
		top:3%;
		left:2.3%;
	}
}